<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--配置数据源，交给spring做-->
    <!--typeAliases可以给类起别名-->
    <typeAliases>
        <package name="com.knight.pojo"/>
    </typeAliases>

    <!--写一个dao就得注册一个mapper-->
    <mappers>
        <!--dao中的userMapper.java和userMapper.xml名字一样可以用class，不一样就用resource定位即可-->
        <mapper class="com.knight.dao.userMapper"/>
        <mapper class="com.knight.dao.confirmNumMapper"/>
        <mapper class="com.knight.dao.covid_provinceMapper"/>
        <mapper class="com.knight.dao.visitMapper"/>
        <mapper class="com.knight.dao.rankMapper"/>
        <mapper class="com.knight.dao.worldMapMapper"/>
    </mappers>


</configuration>